<%- include("header.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <img  class="home-image" src="styles/images.png"/>
</body>
</html>
<%- include("footer.ejs") %>
